@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .text-box {
    @apply overflow-ellipsis overflow-hidden whitespace-nowrap break-words;
  }
  .floatBox {
    @apply transition delay-150 duration-300 ease-in-out hover:-translate-y-2;
  }
}

@theme {
  --color-background-base: #fff;
  --color-background1: #fff;
  --color-background2: #f5f5f5;
  --color-background3: #ebebeb;
  --color-background4: #e0e0e0;
  --color-bg-page1: #f8f9fa;
  --color-bg-page2: #ffffff;
  --color-bg-page3: #f0f0f0;
  --color-text1: #212529;
  --color-text2: #495057;
  --color-text3: #868e96;
  --color-text4: #ced4da;
  --color-caret: black;
}

.dark {
  --color-background1: #1e1e1e;
  --color-background2: #3c3c3c;
  --color-background3: #494949;
  --color-background4: #565656;
  --color-bg-page1: #2e2e2e;
  --color-bg-page2: #121212;
  --color-bg-page3: #3b3b3b;
  --color-text1: #ececec;
  --color-text2: #d9d9d9;
  --color-text3: #acacac;
  --color-text4: #595959;
  --color-caret: white;
}

[contentEditable="true"] > pp:first-child:empty:before {
  font-weight: 900;
  font-size: 1.25rem;
  height: 30px;
  display: block;
  color: rgb(107 114 128);
  content: attr(data-placeholder);
  outline: none; /* 포커스 아웃라인 제거 */
}

#placeHolderSpan {
  font-weight: 900;
  font-size: 1.25rem;
  height: 30px;
  display: inline;
  color: rgb(107 114 128);
}

[contentEditable="true"] > p:first-child:empty:after {
  content: "\200B";
}

.paragraph > span:empty:after {
  content: "\200B";
  display: inline;
}

a {
  color: rgb(14 165 233);
}

.cm-editor.cm-focused {
  outline: none !important;
  caret-color: white;
}

.cm-line {
  caret-color: var(--color-caret);
}
