@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

@keyframes leftMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-8px); /* 오른쪽으로 50px 이동 */
  }
}
@keyframes rightMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(8px); /* 오른쪽으로 50px 이동 */
  }
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

@layer components {
  .text-box {
    @apply overflow-ellipsis overflow-hidden whitespace-nowrap break-words;
  }
  .floatBox {
    @apply transition delay-150 duration-300 ease-in-out hover:-translate-y-2;
  }
  .layout {
    @apply w-[768px] ml-auto mr-auto max-md:w-full;
  }
  .left-moveBox {
    &:hover {
      & > div:first-child {
        animation: var(--animate-leftmove);
      }
    }
  }
  .right-moveBox {
    &:hover {
      & > div:first-child {
        animation: var(--animate-rightmove);
      }
    }
  }
}

@theme {
  --animate-leftmove: leftMove 0.4s linear infinite alternate;
  --animate-rightmove: rightMove 0.4s linear infinite alternate;
  --color-background1: #fff;
  --color-background2: #f5f5f5;
  --color-background3: #ebebeb;
  --color-background4: #e0e0e0;
  --color-background5: #f8f9fa;
  --color-bg-page1: #f8f9fa;
  --color-bg-page2: #ffffff;
  --color-bg-page3: #f0f0f0;
  --color-text1: #212529;
  --color-text2: #495057;
  --color-text3: #868e96;
  --color-text4: #ced4da;
  --color-text5: #0cb0d4;
  --color-caret: black;
  --color-border1: #dee2e6;
  --color-button1: #fff;
  --breakpoint-xs: 360px;
  --breakpoint-sm: 768px;
  --breakpoint-md: 1056px;
  --breakpoint-xl: 1366px;
  --breakpoint-lg: 1440px;
}

.dark {
  --color-background1: #1e1e1e;
  --color-background2: #3c3c3c;
  --color-background3: #494949;
  --color-background4: #565656;
  --color-background5: #252525;
  --color-bg-page1: #2e2e2e;
  --color-bg-page2: #121212;
  --color-bg-page3: #3b3b3b;
  --color-text1: #ececec;
  --color-text2: #d9d9d9;
  --color-text3: #acacac;
  --color-text4: #595959;
  --color-text5: #4be7fb;
  --color-caret: white;
  --color-border1: #4d4d4d;
  --color-button1: #121212;
}

[contentEditable="true"] > pp:first-child:empty:before {
  font-weight: 900;
  font-size: 1.25rem;
  height: 30px;
  display: block;
  color: rgb(107 114 128);
  content: attr(data-placeholder);
  outline: none; /* 포커스 아웃라인 제거 */
}

#placeHolderSpan {
  font-weight: 900;
  font-size: 1.25rem;
  height: 30px;
  display: inline;
  color: rgb(107 114 128);
}

[contentEditable="true"] > p:first-child:empty:after {
  content: "\200B";
}

.paragraph > span:empty:after {
  content: "\200B";
  display: inline;
}

.empty-placeholder:empty:before {
  content: attr(aria-placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
}

.cm-editor.cm-focused {
  outline: none !important;
  caret-color: white;
}

.cm-line {
  caret-color: var(--color-caret);
}
